@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/OpenSans-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../../fonts/OpenSans-Semibold.ttf) format("truetype"); }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../../fonts/OpenSans-Bold.ttf) format("truetype"); }
body {
  font-family: "Open Sans",Tahoma,Helvetica,Arial,sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0; }

ul, li {
  list-style: none;
  padding: 0; }

.clearFix {
  clear: both; }

#header-wrap {
  box-shadow: 0px 0px 5px lightgray; }
  #header-wrap .line {
    border: 2px solid #994399; }
  #header-wrap .logo {
    width: 120px;
    height: 48px;
    float: left; }
  #header-wrap .browse {
    width: 111px;
    height: 48px;
    float: left;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    padding: 14px 25px;
    position: relative; }
    #header-wrap .browse span {
      font-size: 13px;
      font-weight: bold;
      color: #8e8e8e; }
    #header-wrap .browse ul {
      width: 241px;
      min-height: 450px;
      position: absolute;
      top: 49px;
      left: 0;
      border: 1px solid red; }
      #header-wrap .browse ul li a {
        display: block;
        padding: 6px 8px;
        font-size: 13px;
        text-decoration: none;
        color: #353535; }
        #header-wrap .browse ul li a:hover {
          background-color: #F4F4F4; }
        #header-wrap .browse ul li a i {
          margin-top: 3px; }
      #header-wrap .browse ul li ul {
        position: absolute;
        top: -1px;
        left: 240px; }
  #header-wrap .search {
    position: relative;
    float: left;
    width: calc(100% - 521px); }
    #header-wrap .search input[type="text"] {
      width: 100%;
      height: 48px;
      border: none;
      padding: 5px 52px;
      background-color: #F4F4F4; }
    #header-wrap .search button {
      width: 37px;
      height: 37px;
      border: none;
      background-color: #994399;
      border-radius: 2px;
      position: absolute;
      top: 5px;
      left: 8px; }
      #header-wrap .search button i {
        color: white; }
  #header-wrap .right-panel {
    float: right; }
  #header-wrap .myCourses {
    width: 110px;
    height: 48px;
    float: left;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece; }
    #header-wrap .myCourses a {
      display: block;
      padding: 14px 16px;
      font-size: 13px;
      font-weight: bold;
      color: #8e8e8e;
      text-decoration: none; }
  #header-wrap .shopping, #header-wrap .bell {
    width: 60px;
    height: 48px;
    float: left;
    border-right: 1px solid #cecece; }
    #header-wrap .shopping a, #header-wrap .bell a {
      text-decoration: none; }
      #header-wrap .shopping a i, #header-wrap .bell a i {
        display: block;
        padding: 14px 16px;
        font-size: 22px;
        font-weight: bold;
        color: #8e8e8e; }
  #header-wrap .smile {
    width: 60px;
    height: 48px;
    padding: 3px 8px;
    float: left; }
    #header-wrap .smile img {
      width: 100%;
      height: 100%; }

#account_settings-wrap {
  font-weight: 400;
  font-size: 14px;
  padding-top: 50px;
  width: 100%;
  height: auto;
  background-color: #F4F4F4; }
  #account_settings-wrap .mainDiv {
    border: 1px solid #CCCCCC; }
    #account_settings-wrap .mainDiv .col-md-2 {
      background-color: white; }
    #account_settings-wrap .mainDiv .viewProfile {
      height: 100%; }
      #account_settings-wrap .mainDiv .viewProfile .Picture {
        margin-top: 5px; }
      #account_settings-wrap .mainDiv .viewProfile h5 {
        color: #3b3b3b;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px; }
      #account_settings-wrap .mainDiv .viewProfile li {
        padding: 2px 2px 0px 2px;
        margin-bottom: 7px;
        color: #7A89C5; }
        #account_settings-wrap .mainDiv .viewProfile li:hover {
          color: white;
          background-color: #7A89C5; }
    #account_settings-wrap .mainDiv .profile {
      padding-top: 25px;
      padding-bottom: 20px;
      min-height: 100px;
      border: 1px solid #CCCCCC;
      font-weight: 400;
      color: #3b3b3b;
      margin-bottom: 20px; }
    #account_settings-wrap .mainDiv .basics {
      width: 80%;
      margin: 20px auto;
      background-color: #F1F3F6; }
      #account_settings-wrap .mainDiv .basics .basicsInput {
        margin-bottom: 20px;
        width: 100%;
        height: 26px; }
    #account_settings-wrap .mainDiv .biographyArea {
      margin: 0 auto;
      width: 68%; }
      #account_settings-wrap .mainDiv .biographyArea textarea {
        width: 100%;
        height: 90px;
        margin-top: 0px;
        margin-bottom: 20px; }
      #account_settings-wrap .mainDiv .biographyArea input {
        width: 100%;
        height: 41px; }
    #account_settings-wrap .mainDiv .website {
      margin-bottom: 20px;
      width: 612px;
      height: 45px; }
    #account_settings-wrap .mainDiv .InputDiv {
      margin: 20px auto;
      width: 68%; }
      #account_settings-wrap .mainDiv .InputDiv .input-group {
        padding-top: 10px;
        width: 100%;
        height: 45px;
        margin-bottom: 20px; }
      #account_settings-wrap .mainDiv .InputDiv .lastDiv {
        border-bottom: 1px solid #CCCCCC; }
        #account_settings-wrap .mainDiv .InputDiv .lastDiv .saveButon {
          margin-top: 30px;
          color: white;
          background-color: #994399;
          width: 80px;
          height: 48px;
          border: none; }

#edit_profile-wrap {
  padding-top: 50px;
  width: 100%;
  height: 650px;
  background-color: #F4F4F4; }
  #edit_profile-wrap .mainDiv {
    border: 1px solid #CCCCCC;
    background-color: white; }
    #edit_profile-wrap .mainDiv .viewProfile {
      width: 190px;
      height: 570px; }
      #edit_profile-wrap .mainDiv .viewProfile .Picture {
        margin-top: 5px; }
      #edit_profile-wrap .mainDiv .viewProfile h5 {
        color: #3b3b3b;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 10px; }
      #edit_profile-wrap .mainDiv .viewProfile li {
        padding: 2px 2px 0px 2px;
        margin-bottom: 7px;
        color: #7A89C5; }
        #edit_profile-wrap .mainDiv .viewProfile li:hover {
          color: white;
          background-color: #7A89C5; }
    #edit_profile-wrap .mainDiv .account {
      padding-top: 25px;
      padding-bottom: 30px;
      height: 78px;
      border: 1px solid #CCCCCC;
      font-weight: 400; }
    #edit_profile-wrap .mainDiv .emailDiv {
      height: 140px;
      padding-top: 30px;
      padding-bottom: 20px;
      background-color: #F1F3F6;
      border-bottom: 1px solid #CCCCCC; }
    #edit_profile-wrap .mainDiv .emailInput {
      width: 590px;
      height: 38px;
      position: absolute; }
    #edit_profile-wrap .mainDiv .labels {
      color: #3b3b3b; }
    #edit_profile-wrap .mainDiv i {
      position: relative;
      padding-left: 550px;
      padding-top: 5px; }
    #edit_profile-wrap .mainDiv .registred {
      padding-top: 30px;
      background-color: #F1F3F6;
      height: 180px;
      border-bottom: 1px solid #CCCCCC; }
      #edit_profile-wrap .mainDiv .registred .passwordInput {
        margin-bottom: 15px;
        width: 590px;
        height: 26px; }
    #edit_profile-wrap .mainDiv .buton {
      margin-top: 20px;
      width: 143px;
      height: 43px;
      background-color: #994399;
      border: none;
      color: white; }
      #edit_profile-wrap .mainDiv .buton:hover {
        background-color: #9A5F9A; }

/*# sourceMappingURL=style.css.map */
